@use 'sass:map';
@use '@angular/material' as mat;

$my-palette: mat.define-palette(mat.$orange-palette);
$my-second-pallette: mat.define-palette(mat.$cyan-palette);

.tool-window{
    //height: 95vh;
    // display: flex;
    // justify-content: center;
    //background-image: linear-gradient(121.55deg,#673ab7 17.34%,linen 113.19%);;
    background-image: url('./../../../assets/wave-haikei\ light\ Orange.svg');
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.input-form{
    padding: 10px;
    padding-left: 15px;
    font-size: 15px;
}
.mat-flat-button{
    line-height: 40px;
}
.options{
    width: 300px;
    display: inline-block;
    vertical-align: top;
}
// .workSpace{
//     background-color: whitesmoke;
//     color:black;

// }
.example-full-width {
    width: 75%;
  }
.tool-title{
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;
    font-family: "Tiro Gurmukhi rev=2";
    text-decoration-thickness: 2px;
    text-underline-position: under;
    text-decoration: underline mat.get-color-from-palette($my-palette, 300);
}
.type-input{
    display: flex;
    //coloumn 
    flex-direction: column;
    justify-content: flex-end;
}
.text-area-input{
    height: 150px;    
    background-color: #f8f8f8;   
}
.upload-file{
    margin-bottom: 15px;
    display: flex;
    //flex-direction: column;
    //align-items: flex-end;
    margin-right: 15px;
}

.card-group{
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    //align-items: center;
    text-align: center;
}

.title{
    margin-bottom: 100px;
}

.card{
    margin-bottom: 100px;
}
.card-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
.margin-bottom{
    padding-bottom: 10px;
}
.typed-card{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
// Mobile View
@media only screen and (max-width: 600px) {
    .tool-title{
        margin-left: 60px;
    }
}

.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }