<icon-home-button></icon-home-button>
<div class="tool-window" *ngIf="!validJson">
    <div class="input-form">
        <div>
            <h2 class="tool-title">
                Use one of the following options upload Json data.
            </h2>
        </div>
        <div class="upload-file">
            <span>Select JSON file to parse </span>
            <div>
                <input #jsonInput hidden="true" type="file" onclick="this.value=null"
                    (change)="jsonFileUploaded($event)" accept=".txt" />
                <button mat-flat-button color="primary" (click)="jsonInput.click()">Browse File <span
                        class="material-symbols-outlined">
                        upload_file
                    </span></button>
            </div>
        </div>
        <div class="upload-file">
            <card-component></card-component>
            <p>No Data No Problem</p>
            <div>
                <button mat-flat-button color="primary" (click)="noDataCanvas()"> Empty Canvas </button>
            </div>
        </div>
        <div class="type-input">
            <span>Or paste into here:</span>
            <mat-form-field class="example-full-width" appearance="fill">
                <textarea class="text-area-input" matInput placeholder="{{exampleString}}" #inputJson></textarea>
            </mat-form-field>
            <div>
                <button mat-flat-button color="primary" (click)="userTypedJson()"> Submit Typed Text </button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="validJson" class="workSpace">
    <json-canvas></json-canvas>
</div>