.tool-window{
    height: 95vh;
}
.input-form{
    padding: 10px;
    padding-left: 15px;
}
.mat-flat-button{
    line-height: 65px;
}
.options{
    width: 300px;
    display: inline-block;
    vertical-align: top;
}
.workSpace{
    background-color: whitesmoke;
    color:black;
}