.sidenav-toggle{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 15px;
}

.float{
	position:absolute;
    right: 0px;
}

.icon-margin{
    margin-left: 5px;
}

.redo-button{
    text-align: center;
    height: 100px;
}
// Mobile View
@media only screen and (max-width: 600px) {
    .float{
        bottom: 200px;
        right: 20px;
    }
}
