@use 'sass:map';
@use '@angular/material' as mat;

$my-palette: mat.define-palette(mat.$orange-palette);


.logo-float{
    position:absolute;
    left: 0px;
    background:  mat.get-color-from-palette($my-palette, 300);
    border-radius: 6px;
}

.home-text{
    margin: 0px;
    text-align: center;
    color: black;
}
.home-icon{
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 5px;
}