.logo-float{
    position:absolute;
    left: 0px;
    background: rgb(246, 246, 82);
    border-radius: 6px;
}

.home-text{
    margin: 0px;
    text-align: center;
    color: black;
}
.home-icon{
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 5px;
}