.title {
    font-size: 48px;
    max-width: 868px;
    line-height: 76px;
    font-family: "Tiro Gurmukhi rev=2";
    margin-bottom: 60px;
    text-align: end;
}
.sub-title{
    font-size: 24px;
    max-width: 668px;
    line-height: 76px;
}
.main-content-text{
    font-size: 16px;
    max-width: 668px;
    line-height: 25px;
}
.main-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 8%;
}
.home{
    background-image: linear-gradient(121.55deg,#673ab7 17.34%,linen 113.19%);;
    height: 95vh;
}
.button-list{
    margin: 10px;
}
.button-summary{
    display: flex;
    margin-top: 60px;
    max-width: 668px;
}
.button-summary p {
    max-width: 338px;
}
