.main-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 8%;
}

.button-list {
    margin: 10px;
}

.button-summary {
    display: flex;
    margin-top: 60px;
    max-width: 668px;
}

// Mobile View
@media only screen and (max-width: 600px) {
    .home {
        background-image: linear-gradient(121.55deg, #673ab7 17.34%, linen 113.19%);
    }

    .title {
        font-size: 40px;
        font-family: "Tiro Gurmukhi rev=2";
        margin-bottom: 60px;
        text-align: end;
        margin-top: 40px;
        margin-left: 60px;
    }

    .main-content-text {
        font-size: 16px;
        max-width: 330px;
        line-height: 30px;
    }

    .button-summary p {
        max-width: 200px;
        line-height: 325x;

    }
}

// bigger screens
@media only screen and (min-width: 600px) {
    .home {
        background-image: linear-gradient(121.55deg, #673ab7 17.34%, linen 113.19%);
        height: 95vh;
    }

    .title {
        font-size: 48px;
        max-width: 868px;
        line-height: 76px;
        font-family: "Tiro Gurmukhi rev=2";
        margin-bottom: 60px;
        text-align: end;
    }

    .main-content-text {
        font-size: 16px;
        max-width: 668px;
        line-height: 25px;
    }

    .button-summary p {
        max-width: 338px;
    }
}