<div class="home">
    <icon-home-button></icon-home-button>
    <div class="main-content main-content-color">
        <div class="focal-point">
            <h2 class="title">
                Capybera Json Tool
            </h2>
            <div class="button-summary">
                <p>
                    Fast and easy way to
                    create mock objects or test structures.
                </p>
                <div class="button-list">
                    <a mat-raised-button routerLink="../tool" color="primary">Go to Tool </a>
                </div>
            </div>
        </div>
        <div class="card-group">
            <div class="main-content-text">
                <card-component [cardData]="whyCard">
                </card-component>
            </div>
            <div class="main-content-text">
                <card-component [cardData]="whatCard">
                </card-component>
            </div>
            <div class="main-content-text">
                <card-component [cardData]="whoCard">
                </card-component>
            </div>
        </div>
    </div>
</div>