<div class="main-content main-content-color">
    <h2 class="title">
        A Json Graphical User Interface(GUI)
    </h2>
    <h2 class="sub-title">
        Tool to Visualize and Transform Json data
    </h2>
    <a mat-raised-button routerLink="../tool" color="accent">Link</a>
    <div class="main-content-text">
        <p>
            This tool is a graphical user interface (GUI) to visualize and transform json data.
            It is a web application that allows the user to upload a json file and visualize the data in a graph.
            The user can also transform the data into another format.
        </p>
    </div>

</div>