<div class="home">
    <icon-home-button></icon-home-button>
    <div class="main-content main-content-color">
        <h2 class="title">
            Capybera Json Tool
        </h2>        
        <div class="main-content-text">
            <h2>Why</h2>
            <mat-divider></mat-divider>
            <p>                
                Trying to read Json data shouldn't be distracting or dificult. 
                Editing Json data should be simple and result in valid Json.
            </p>
        </div>
        <div class="main-content-text">
            <h2>What</h2>
            <mat-divider></mat-divider>
            <p>                
                This is a static web application written using the Angular framework.
                Our tool lets our users upload, visualize, edit, and export json data.
            </p>
        </div>
        <div class="main-content-text">
            <h2>Who</h2>
            <mat-divider></mat-divider>
            <p>                
                Intended audience is anyone working with Json 
                and needs a more robust tool to work with data.
            </p>
        </div>
        <div class="button-summary">
            <p>
                Fast and easy way to 
                create mock objects or test structures. 
            </p>
            <div class="button-list">
                <a mat-raised-button routerLink="../tool" color="primary">Go to Tool </a>
            </div>
        </div>
        
    </div>    
</div>
