// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$cyan-palette: (
    50 : #e0eeec,
    100 : #b3d6d0,
    200 : #80bab1,
    300 : #4d9e91,
    400 : #268a7a,
    500 : #007562,
    600 : #006d5a,
    700 : #006250,
    800 : #005846,
    900 : #004534,
    A100 : #7affd7,
    A200 : #47ffc7,
    A400 : #14ffb8,
    A700 : #00f9ae,
    contrast: (
        50 : #002625,
        100 : #002625,
        200 : #002625,
        300 : #002625,
        400 : #dddddd,
        500 : #dddddd,
        600 : #dddddd,
        700 : #dddddd,
        800 : #dddddd,
        900 : #dddddd,
        A100 : #002625,
        A200 : #002625,
        A400 : #002625,
        A700 : #002625,
    )
);

$orange-palette: (
    50 : #fff7eb,
    100 : #ffeace,
    200 : #ffddad,
    300 : #ffcf8c,
    400 : #ffc474,
    500 : #ffba5b,
    600 : #ffb353,
    700 : #ffab49,
    800 : #ffa340,
    900 : #ff942f,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffebda,
    A700 : #ffdec1,
    contrast: (
        50 : #002625,
        100 : #002625,
        200 : #002625,
        300 : #002625,
        400 : #002625,
        500 : #002625,
        600 : #002625,
        700 : #002625,
        800 : #002625,
        900 : #002625,
        A100 : #002625,
        A200 : #002625,
        A400 : #002625,
        A700 : #002625,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$capybera-primary: mat.define-palette(mat.$orange-palette);
$capybera-accent: mat.define-palette(mat.$cyan-palette, 900);

// The warn palette is optional (defaults to red).
$capybera-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$capybera-theme: mat.define-light-theme((
  color: (
    primary: $capybera-primary,
    accent: $capybera-accent,
    warn: $capybera-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($capybera-theme);

/* You can add global styles to this file, and also import other style files */
 
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }