@use 'sass:map';
@use '@angular/material' as mat;

$my-palette: mat.define-palette(mat.$orange-palette);
$my-second-pallette: mat.define-palette(mat.$cyan-palette);


.example-card {
    max-width: 400px;
    background-color: mat.get-color-from-palette($my-second-pallette, 800);
  }
  
textarea{
  color: #002625 !important;
}